body{
background-color: skyblue;
}

#SVGmain {
  opacity: 1;
  transition: all 1s linear;
}

#mountainshade {
  animation: mountainFade 20s ease-in-out infinite;
}

@keyframes mountainFade {
  0%, 100% {
    opacity: 1; 
  }
  50% {
    opacity: 0; 
  }
}

#sun {
  animation: sunMove 20s ease-in-out infinite;
}

@keyframes sunMove {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(700px);
  }
}

#reflection {
  animation: reflectionCarousel 4s linear infinite;
}

@keyframes reflectionCarousel {
  0% {
    transform: translateX(-100px); 
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1; 
  }
  100% {
    transform: translateX(400px); 
    opacity: 0; 
  }
}

#trees {
  transform-origin: bottom;
  animation: treeBreath 5s ease-in-out infinite;
}

@keyframes treeBreath {
  0%, 100% {
    transform: scaley(1); 
  }
  50% {
    transform: scaleY(0.97); 
  }
}